<footer id="site-footer">
  <div class="footer-inner">

    <div class="footer-brand">
      <img src="/assets/logos/malenfocat_logotipo blanc.png" width="250px"/>
    </div>

    <div class="footer-pack">
      <p class="footer-claim">No todo lo que parece mal hecho está mal pensado.</p>

      <div class="footer-links">
        <a href="mailto:malenfocat@gmail.com">malenfocat@gmail.com</a>
        <a href="https://instagram.com/" target="_blank" rel="noopener">Instagram</a>
        <a href="https://linkedin.com/" target="_blank" rel="noopener">LinkedIn</a>
      </div>
    </div>

  </div>
  <div></div>
  <p class="footer-copy">© <span id="footer-year"></span> Malenfocat · Desde Madrid para todo el mundo</p>
</footer>