<nav>
  <a href="/" class="nav-logo" data-nav-home>
    <img src="" width="42" />
  </a>
  <ul>
    <li><a href="/" data-target="about-skills" class="nav-link" data-nav-link data-i18n="nav0">Sobre mí</a></li>
    <li class="nav-has-dropdown">
      <a href="/" data-target="work-sec" class="nav-link" data-nav-link data-i18n="nav1">Trabajo</a>
      <ul class="nav-dropdown">
        <li><a href="/projects/photo.html" class="nav-drop-link" data-i18n="proj0">Photo Portfolio</a></li>
        <li><a href="/projects/video.html" class="nav-drop-link" data-i18n="proj1">Vídeo Reel</a></li>
        <li><a href="/projects/tfg.html" class="nav-drop-link" data-i18n="proj2">AI Influencer</a></li>
      </ul>
    </li>
    <li><a href="/" data-target="contact-sec" class="nav-link" data-nav-link data-i18n="nav2">Contacto</a></li>
    <li><button class="nav-btn" id="dark-toggle">☽ Dark</button></li>
    <li><button class="nav-btn" id="lang-toggle">EN</button></li>
  </ul>
</nav>