<nav>
  <a href="/" class="nav-logo" data-nav-home>
    <img src="../assets/logo.svg" width="42" />
  </a>
  <ul>
    <li><a href="/" data-target="work-sec" class="nav-link" data-nav-link>Trabajo</a></li>
    <li><a href="/" data-target="about-skills" class="nav-link" data-nav-link>Sobre mí</a></li>
    <li><a href="/" data-target="contact-sec" class="nav-link" data-nav-link>Contacto</a></li>
    <li><button class="nav-btn" id="dark-toggle">☽ Dark</button></li>
    <li><button class="nav-btn" id="lang-toggle">EN</button></li>
  </ul>
</nav>